[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "public"]
	path = public
	url = https://github.com/swifteen/swifteen.github.io.git
	branch = main
